{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>|pb| Profile</title>
<link rel="shortcut icon" href="{% static 'log_in/images/Logo.gif'%}">
<link rel="stylesheet" type="text/css" href="{% static 'main_body/mainFrame.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'main_body/Profile.css'%}">
</head>

<body>
<div class="container">
<div class="header">
<img class="logo" src="{% static 'log_in/images/Logo.gif'%}">
		<form action="{% url 'main:search' %}" method="post">
		{% csrf_token %}
		<div class="headerSearch">
			<input class="headerSearchText" type="text" name='searched_name' value='' placeholder="Search your friends ...">
			<input class="headerSearchButton" type="submit" value="">
		</form>
		</div>
<div class="headerMenu">
<ul><li><a href="{% url 'main:profile' %}">Profile</a></li>
<li><a href="{% url 'main:Your_Wall' user.username %}">Your Wall</a></li>
<li><a href="{% url 'main:Message' %}">Message</a></li>
<li><a href="{% url 'main:News' %}">News</a></li>
<li><a href="{% url 'main:topics' %}">Topics</a></li>
<li><a href="{% url 'log_out' %}">Log Out</a></li></ul>
</div>
</div>
<div class="content">
<div class="topicsMenu">
Topics
<ul><a href="{% url 'main:topic' 'Basic' %}"><li>Basic</li></a>
<a href="{% url 'main:topic' 'Django' %}"><li>django</li></a>
<a href="{% url 'main:topic' 'Pygame' %}"><li>pygame</li></a>
<a href="{% url 'main:topic' 'Multi_Threading' %}"><li>Multi Threading</li></ul></a>
</div>
<div class="profile">
<div class="left">
<div class="profilePicture"><img src="{{user.profile.photo.url}}" width="200px" height="200px"></div>
<div class="changeProfilePicture"><input type="file" name='picture'  title="Change your profile picture"></div>
<div class="followPanel">
<div class="follower"><a href="{% url 'main:following' %}">0 follower</a></div>
<div class="following"><a href="{% url 'main:following' %}">0 following</a></div>
</div>
</div>
<div class="right">
<font face="Arial Black, Gadget, sans-serif"><h2>Profile</h2></font>
<form action="{% url 'main:profile_Change' %}" method="post">
{% csrf_token %}
<p>First Name:{{user.profile.first_name}}</p><hr color="#FFFFFF" width="90%" size="1px">
<p>Last Name:{{user.profile.last_name}}</p><hr color="#FFFFFF" width="90%" size="1px">
<p>Username :{{user.username}}</p><hr color="#FFFFFF" width="90%" size="1px">
<p>Email :{{user.email}}</p><hr color="#FFFFFF" width="90%" size="1px">
<p>Birthday :{{user.profile.birth_day}}</p><hr color="#FFFFFF" width="90%" size="1px">
<p>Bio :{{user.profile.status	}}</p><hr color="#FFFFFF" width="90%" size="1px">
<p>Country :{{user.profile.country}}</p><hr color="#FFFFFF" width="90%" size="1px">
<p><input type="submit" value="change" name="SignUp"></p>
</form>
</div>
</div>
<div class="sidebar">
<a href="{% url 'main:profile' %}" title="Profile"><img src="{% static 'log_in/images/profile.png'%}"></a>
<a href="{% url 'main:Your_Wall' user.username %}" title="Your Wall"><img src="{% static 'log_in/images/wall.png'%}"></a>
<a href="{% url 'main:Message' %}" title="Message"><img src="{% static 'log_in/images/message.png'%}"></a>
<a href="{% url 'main:News' %}" title="News"><img src="{% static 'log_in/images/News.png'%}"></a>
<a href="{% url 'main:topics' %}" title="Topics"><img src="{% static 'log_in/images/topics.png'%}"></a>
<a href="{% url 'log_out' %}" title="Log Out"><img src="{% static 'log_in/images/logout.png'%}"></a>
</div>
</div>
</div>
</body>
</html>
