.header{
	width: 1000px;
	height: 140px;
	background-image:url("static/log_in/Header.gif");
	float:left;
}
.bglogin{
	width:1000px;
	height:860px;
	background-image:url(bgLogin.gif);
	background-size:1000px 860px;
	float:left;
}
body {
<div class="header">
</div>
<div class="bglogin">
<div class="empty"></div>
}
